@use '@angular/material' as mat;

.content-container {
  @include mat.elevation(2);
  background-color: white;
  width: 340px;
  min-height: 500px;
  padding: 16px;
}

.contract-properties {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

