<mat-toolbar color="primary">
  <div class="brand-container" routerLink="/">
    <mat-icon>design_services</mat-icon>
    <span>Escrow Hardhat</span>
  </div>
</mat-toolbar>
<div class="content">
  <div class="contract-components">
    <app-new-contract-form></app-new-contract-form>
    <app-existing-contract></app-existing-contract>
  </div>
  <div class="account-components">
    <app-account-info (click)="onShowVersion()"></app-account-info>
    <div *ngIf="showVersion">Version: {{ version }}</div>
  </div>
</div>


<router-outlet></router-outlet>
